* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(26, 27, 38, 0.5); /* Tokyo Night background with transparency */
}

button {
    color: #c0caf5; /* Tokyo Night foreground */
    background-color: #1a1b26; /* Tokyo Night background */
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #414868; /* Tokyo Night comment color */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    transition: all 0.3s ease; /* Animation */

    /* Add initial padding to the buttons */
    padding: 10px;
    margin: 10px;
}

button:focus, button:active, button:hover {
    background-color: #414868; /* Tokyo Night comment color */
    border-color: #7aa2f7; /* Tokyo Night blue */

    /* Increase padding on hover to make the button appear larger */
    padding: 12px;
    margin: 8px; /* Adjust margin to keep spacing consistent */

    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
