* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(29, 31, 44, 0.9); /* Background */
}

button {
    border-radius: 0;
    border-color: #1d1f2c; /* Background */
    text-decoration-color: #f8f8f2; /* Foreground */
    color: #f8f8f2; /* Foreground */
    background-color: #282a36; /* Current Line */
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus, button:active, button:hover {
    background-color: #ff79c6; /* Pink */
    color: #282a36; /* Current Line */
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
