* {
    background-image: none;
    font-size: 16px; /* Set a base font size */
    transition: all 0.2s ease-in-out;
}

window {
    background-color: transparent;
}

button {
    color: #c0caf5;
    background-color: #1a1b26;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    border: none;
    box-shadow: none;
}

/* --- The Hover/Focus "Grow" Effect --- */
/* This is the key: we change the margins on hover to make the button taller */
button:hover, button:focus {
    background-color: #414868;
    background-size: 40%;
    /* Use the smaller margin value from the script to make the button taller */
    margin: ${hvr}px 5px;
    border-radius: 25px;
}

/* --- Default Button Positions (The Centering Magic) --- */
/* The script calculates ${mgn} to be a large vertical margin. */
/* We apply it to each button to push them into the middle of the screen. */

#lock {
    margin: ${mgn}px 5px ${mgn}px ${mgn}px;
    border-radius: 25px 0 0 25px;
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    margin: ${mgn}px 5px;
    border-radius: 0;
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    margin: ${mgn}px 5px;
    border-radius: 0;
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#shutdown {
    margin: ${mgn}px 5px;
    border-radius: 0;
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#hibernate {
    margin: ${mgn}px 5px;
    border-radius: 0;
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#reboot {
    margin: ${mgn}px ${mgn}px ${mgn}px 5px;
    border-radius: 0 25px 25px 0;
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
